html {
    font-size: calc(10px + 0.390625vw);
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ===============================================================================================================================================
Header
================================================================================================================================================== */

header {
    text-align: center;
}
header nav ul li {
    margin: 10px 0 10px 0;
}
header nav ul li a {
    color: black;
    text-decoration: none;
}
/* tirara o sublinhado azul (alterar cir da fonte) */
/* 10px + 0.8vw
   px base */
   /* =========================================================BANNER=============================================================================== */

   section.banner {
    text-align: center;
    margin : 0 5vw 0 5vw;
   }
   section.banner h1 {
    font-size: 2rem ;
    font-weight: bold;
    margin: 20px 0 20px 0;
   }
   section.banner {
    margin: 10px 0 10px 0;
    line-height: 1.2rem;
   }
   section.banner button {
    background-color: #FF6464;
    color: white;
   }